/** Your theme modifications here **/

@media (max-width: 767px) {
    .logo {
        width: 130px;
    }

    .navbar-fixed-top {
        position: relative;
        top: auto;
    }

    .navbar-collapse {
        max-height: none;
    }

    .content {
        margin-top: 10px;
    }

    body {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        width: 140px;
    }

    .navbar-fixed-top {
        position: relative;
        top: auto;
    }

    .navbar-collapse {
        max-height: none;
    }

    .content {
        margin-top: 10px;
    }

    body {
        margin: 0;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo {
        width: 150px;
    }

    .content {
        margin-top: 100px;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 200px;
    }

    .content {
        margin-top: 100px;
    }
}

.loading-spinner {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}