    <!--<wrap-owlcarousel class="owl-carousel"-->
    <!--data-options="{items:2}">-->
    <!--<div>-->
    <!--<img src="img/product1.jpg"/>-->
    <!--</div>-->
    <!--<div>-->
    <!--<img src="img/product2.jpg"/>-->
    <!--</div>-->
    <!--<div>-->
    <!--<img src="img/product3.jpg"/>-->
    <!--</div>-->
    <!--</wrap-owlcarousel>-->

    <div class="container">
        <div class="col-md-12 large-12 columns">
            <wrap-owlcarousel class="owl-carousel owl-theme" data-options="{
      items: 1,
      loop: true,
      margin: 10,
      navigation: false,
      pagination: true,
      autoplay: true,
      autoplaySpeed: 1000,
      autoplayHoverPause: true
    }">
                <div owl-carousel-item="" ng-repeat="promotion in promotions | filter : { src : '' }" style="height: 100%" class="item">
                    <img src="{{promotion.src}}" alt="" class="img-responsive">
                </div>
            </wrap-owlcarousel>
        </div>
    </div>

    <!--<div class="container">-->
    <!--<div class="col-md-12">-->
    <!--<div id="main-slider">-->
    <!--<carousel links="promotions" go-to="goToInstrument(id)"></carousel>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
    <div id="advantages">

        <div class="container">
            <div class="same-height-row">
                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa fa-heart"></i>
                        </div>

                        <h3><a href="#">We love our customers</a></h3>

                        <p>We are known to provide best possible service ever</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa fa-tags"></i>
                        </div>

                        <h3><a href="#">Best prices</a></h3>

                        <p>You can check that the height of the boxes adjust when longer text like this one is used
                            in one of them.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa fa-thumbs-up"></i>
                        </div>

                        <h3><a href="#">100% satisfaction guaranteed</a></h3>

                        <p>Free returns on everything for 3 months.</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#advantages -->

    <!-- *** ADVANTAGES END *** -->

    <!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
    <div id="hot">
        <div class="box">
            <div class="container">
                <div class="col-md-12">
                    <h2>Les plus vendus cette semaine</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <wrap-owlcarousel class="owl-carousel owl-theme product-slider" data-options="{
      items: 5,
      loop: true,
      margin: 10,
      autoplay: true,
      autoplaySpeed: 1000,
      autoplayHoverPause: true
    }">
                <div owl-carousel-item="" ng-repeat="item in bestSales">
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="detail.html">
                                            <img src="{{item.src.front}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="detail.html">
                                            <img src="{{item.src.back}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="detail.html" class="invisible">
                                <img src="{{item.src.front}}" alt="" class="img-responsive">
                            </a>

                            <div class="text">
                                <h3><a href="detail.html">{{item.caption.title}}</a></h3>

                                <p class="price">{{item.caption.price}}</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                </div>

                <!--<div class="item">-->
                <!--<div class="product">-->
                <!--<div class="flip-container">-->
                <!--<div class="flipper">-->
                <!--<div class="front">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="back">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product2_2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<a href="detail.html" class="invisible">-->
                <!--<img src="img/product2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->

                <!--<div class="text">-->
                <!--<h3><a href="detail.html">White Blouse Armani</a></h3>-->

                <!--<p class="price">-->
                <!--<del>$280</del>-->
                <!--$143.00-->
                <!--</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.text &ndash;&gt;-->

                <!--<div class="ribbon sale">-->
                <!--<div class="theribbon">SALE</div>-->
                <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.ribbon &ndash;&gt;-->

                <!--<div class="ribbon new">-->
                <!--<div class="theribbon">NEW</div>-->
                <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.ribbon &ndash;&gt;-->

                <!--<div class="ribbon gift">-->
                <!--<div class="theribbon">GIFT</div>-->
                <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.ribbon &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.product &ndash;&gt;-->
                <!--</div>-->

                <!--<div class="item">-->
                <!--<div class="product">-->
                <!--<div class="flip-container">-->
                <!--<div class="flipper">-->
                <!--<div class="front">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product3.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="back">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product3_2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<a href="detail.html" class="invisible">-->
                <!--<img src="img/product3.jpg" alt="" class="img-responsive">-->
                <!--</a>-->

                <!--<div class="text">-->
                <!--<h3><a href="detail.html">Black Blouse Versace</a></h3>-->

                <!--<p class="price">$143.00</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.text &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.product &ndash;&gt;-->
                <!--</div>-->

                <!--<div class="item">-->
                <!--<div class="product">-->
                <!--<div class="flip-container">-->
                <!--<div class="flipper">-->
                <!--<div class="front">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product3.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="back">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product3_2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<a href="detail.html" class="invisible">-->
                <!--<img src="img/product3.jpg" alt="" class="img-responsive">-->
                <!--</a>-->

                <!--<div class="text">-->
                <!--<h3><a href="detail.html">Black Blouse Versace</a></h3>-->

                <!--<p class="price">$143.00</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.text &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.product &ndash;&gt;-->
                <!--</div>-->

                <!--<div class="item">-->
                <!--<div class="product">-->
                <!--<div class="flip-container">-->
                <!--<div class="flipper">-->
                <!--<div class="front">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="back">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product2_2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<a href="detail.html" class="invisible">-->
                <!--<img src="img/product2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->

                <!--<div class="text">-->
                <!--<h3><a href="detail.html">White Blouse Versace</a></h3>-->

                <!--<p class="price">$143.00</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.text &ndash;&gt;-->

                <!--<div class="ribbon new">-->
                <!--<div class="theribbon">NEW</div>-->
                <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.ribbon &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.product &ndash;&gt;-->
                <!--</div>-->

                <!--<div class="item">-->
                <!--<div class="product">-->
                <!--<div class="flip-container">-->
                <!--<div class="flipper">-->
                <!--<div class="front">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product1.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="back">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product1_2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<a href="detail.html" class="invisible">-->
                <!--<img src="img/product1.jpg" alt="" class="img-responsive">-->
                <!--</a>-->

                <!--<div class="text">-->
                <!--<h3><a href="detail.html">Fur coat</a></h3>-->

                <!--<p class="price">$143.00</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.text &ndash;&gt;-->

                <!--<div class="ribbon gift">-->
                <!--<div class="theribbon">GIFT</div>-->
                <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.ribbon &ndash;&gt;-->

                <!--</div>-->
                <!--&lt;!&ndash; /.product &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.col-md-4 &ndash;&gt;-->

                <!--<div class="item">-->
                <!--<div class="product">-->
                <!--<div class="flip-container">-->
                <!--<div class="flipper">-->
                <!--<div class="front">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="back">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product2_2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<a href="detail.html" class="invisible">-->
                <!--<img src="img/product2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->

                <!--<div class="text">-->
                <!--<h3><a href="detail.html">White Blouse Armani</a></h3>-->

                <!--<p class="price">-->
                <!--<del>$280</del>-->
                <!--$143.00-->
                <!--</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.text &ndash;&gt;-->

                <!--<div class="ribbon sale">-->
                <!--<div class="theribbon">SALE</div>-->
                <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.ribbon &ndash;&gt;-->

                <!--<div class="ribbon new">-->
                <!--<div class="theribbon">NEW</div>-->
                <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.ribbon &ndash;&gt;-->

                <!--<div class="ribbon gift">-->
                <!--<div class="theribbon">GIFT</div>-->
                <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.ribbon &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.product &ndash;&gt;-->
                <!--</div>-->

                <!--<div class="item">-->
                <!--<div class="product">-->
                <!--<div class="flip-container">-->
                <!--<div class="flipper">-->
                <!--<div class="front">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product3.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="back">-->
                <!--<a href="detail.html">-->
                <!--<img src="img/product3_2.jpg" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<a href="detail.html" class="invisible">-->
                <!--<img src="img/product3.jpg" alt="" class="img-responsive">-->
                <!--</a>-->

                <!--<div class="text">-->
                <!--<h3><a href="detail.html">Black Blouse Versace</a></h3>-->

                <!--<p class="price">$143.00</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.text &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.product &ndash;&gt;-->
                <!--</div>-->

            </wrap-owlcarousel>
            <!-- /.product-slider -->
        </div>
        <!-- /.container -->

    </div>
    <!-- /#hot -->