<div class="container">
    <div class="col-md-12">        
        <!-- show result et filtre -->
        <div class="box info-bar">
            <div class="row">
<!--                 <div class="col-sm-12 col-md-4 products-showing">
                    Showing <strong></strong> of <strong>25</strong> products
                </div>
 -->
                <div class="col-sm-12 col-md-8  products-number-sort">
                    <div class="row">
                        <form class="form-inline">
                            <div class="col-md-6 col-sm-6">
                                <div class="row">
                                    <strong>Sort by </strong>
                                    <select ng-model="selection" ng-change="filtre()" class="form-control" ng-options="option for option in options">
                                        <option value="">--Option--</option>
                                    </select>

                                </div>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- PRODUCT-->
        <div class="row">
            <div class="col-md-3 col-sm-4" ng-repeat="resultat in resultats | orderBy: orderByPredicate : orderByReverse">
                <div class="product" >
<!--                 <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="" ng-click="goToInstrument(resultat.id)">
                                    <img src="{{resultat.src.front}}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="back">
                                <a href="" ng-click="goToInstrument(resultat.id)">
                                    <img src="{{resultat.src.back}}" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="detail.html" class="invisible">
                        <img src="{{resultat.src.front}}" alt="" class="img-responsive">
                    </a> -->
                    <div class="text">
                        <h3><a href="detail.html">{{resultat.reference}}</a></h3>
                        <p class="price">{{resultat.prix}}€</p>
                        <p class="buttons">
                            <a href="detail.html" class="btn btn-default">View detail</a>
                            <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        </div>


    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <pagination total-items="totalPages" ng-model="currentPage" ng-change="pageChanged()" items-per-page="20" max-size="5" boundary-links="true"></pagination>
        </div>
    </div>

        </div>
</div>
<!-- /.container -->
