<div class="container">
    <div class="col-md-12">        
        <!-- show result et filtre -->
        <div class="box info-bar">
            <div class="row">               
                <div class="col-sm-12 col-md-3">
                    <label for="Marque"> <strong> Marque</strong> </label>
                    <input type="text" class="form-control" ng-model="marque" value="marque" id="Marque" placeholder="Casio...">                    
                </div>

                <div class="col-sm-12 col-md-3">
                    <label for="Categorie"> <strong> Categorie</strong> </label>
                    <input type="text" class="form-control" ng-model="categorie" value="" id="Categorie" placeholder="Zino...">                    
                </div>  

                <div class="col-sm-12 col-md-3">
                    <label for="keys"> <strong> Mot-Cles</strong> </label>
                    <input type="text" class="form-control" ng-model="ref" id="keys" value="" placeholder="Piano, Guitare..." >
                </div>

                <div class="col-sm-12 col-md-3">
                    <label for="keys"> <strong> Sort by</strong> </label>                       
                    <select ng-model="selection" ng-change="filtre()" class="form-control" ng-options="option for option in options">
                        <option value="">--Option--</option>
                    </select>                              
                </div>      
            </div>  

            <div class="row form-search">                
                <button type="submit" class="btn btn-primary btn-search" ng-click="searchAvance()">Search</button>
            </div>          
        </div>

        <!-- PRODUCT-->
        <div class="row">
            <div class="col-md-3 col-sm-4" ng-repeat="resultat in resultats | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy: orderByPredicate : orderByReverse">
                <div class="product" >
                    <div class="text">
                        <h3><a href="detail.html">{{resultat.reference}}</a></h3>
                        <center><h5><p>{{resultat.marque.libelle}}</p></h5></center>
                        <p class="price">{{resultat.prix}}€</p>

                        <p class="buttons">
                            <a class="btn btn-default">View detail</a>
                            <a ng-click="addInstrumentToCart(resultat.instrumentId)" class="btn btn-primary">
                              <i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        </div>
        <!-- PAGES -->
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <button
              class="btn btn-default"
              ng-disabled="currentPage == 0"
              ng-click="currentPage=currentPage-1"
            >Précédent</button>
              {{currentPage+1}}/{{numberOfPages()}}
            <button
              class="btn btn-default"
              ng-disabled="currentPage >= resultats.length/pageSize -1"
              ng-click="currentPage=currentPage+1"
            >Suivant</button>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
