<div id="footer" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Pages</h4>

                <ul>
                    <li><a href="text.html">About us</a>
                    </li>
                    <li><a href="text.html">Terms and conditions</a>
                    </li>
                    <li><a href="faq.html">FAQ</a>
                    </li>
                    <li><a href="contact.html">Contact us</a>
                    </li>
                </ul>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h5>Catégories</h5>

                <ul>
                    <li><a href="">Batteries</a></li>
                    <li><a href="">Guitares</a></li>
                    <li><a href="">Sonos</a></li>
                    <li><a href="">Violons</a></li>
                    <li><a href="">Basses</a></li>
                </ul>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Where to find us</h4>

                <p><strong>Musica.</strong>
                    <br>1220 Rue des Résidences
                    <br>Condillac
                    <br>38400 Saint-Martin-d'Heres
                    <br>France
                    <br>
                </p>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#footer -->

<!-- *** FOOTER END *** -->


<!-- *** COPYRIGHT ***
_________________________________________________________ -->
<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2016 Musica.</p>
        </div>
    </div>
</div>
<!-- *** COPYRIGHT END *** -->