<div class="container">
    <div class="navbar-header">

        <a class="navbar-brand home" href="#/home" data-animate-hover="bounce">
            <img src="img/logo.png" alt="Musica logo" class="logo">
            <!--<img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>-->
            <!--<img src="img/logo.png" alt="Musica logo" class="visible-xs"><span-->
                <!--class="sr-only">Musica - go to homepage</span>-->
        </a>

        <div class="navbar-buttons">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-align-justify"></i>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                <span class="sr-only">Toggle search</span>
                <i class="fa fa-search"></i>
            </button>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#logout">
                <span class="sr-only">Toggle logout</span>
                <i class="fa fa-user"></i>
            </button>

            <a class="btn btn-default navbar-toggle" href="basket.html">
                <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">3 items in cart</span>
            </a>
        </div>
    </div>
    <!--/.navbar-header -->

    <div class="navbar-collapse collapse" id="navigation">

        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#/home">Home</a></li>
            <li><a href="">Batteries</a></li>
            <li><a href="">Guitares</a></li>
            <li><a href="">Sonos</a></li>
            <li><a href="">Violons</a></li>
            <li><a href="">Basses</a></li>
        </ul>

    </div>
    <!--/.nav-collapse -->

    <div class="navbar-buttons">

        <div class="navbar-collapse collapse right" id="basket-overview">
            <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span
                    class="hidden-sm">3 items in cart</span></a>
        </div>
        <!--/.nav-collapse -->

        <div class="navbar-collapse collapse right">
            <a href="" class="dropdown-toggle btn btn-primary navbar-btn" data-toggle="dropdown" role="button"
               aria-haspopup="true"
               aria-expanded="false"><span class="fa fa-user"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Mon profile</a></li>
                <li><a href="#">A propos</a></li>
                <li>
                    <button type="button" class="dropdown-toggle btn btn-primary navbar-btn">
                        <span class="fa fa-sign-out"></span> Se déconnecter
                    </button>
                </li>
            </ul>
        </div>

<!--         <div class="navbar-collapse collapse right" id="search-not-mobile">
            <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                <span class="sr-only">Toggle search</span>
                <i class="fa fa-search"></i>
            </button>
        </div> -->

    </div>

    <div class="collapse clearfix" id="logout">

        <form class="navbar-form" role="logout">
            <ul>
                <li><a href="#">Mon profile</a></li>
                <li><a href="#">A propos</a></li>
                <li>
                    <button type="button" class="dropdown-toggle btn btn-primary navbar-btn">
                        <span class="fa fa-sign-out"></span> Se déconnecter
                    </button>
                </li>
            </ul>
        </form>

    </div>

    <!-- <div class="collapse clearfix" id="search">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control"  ng-model="motcles" placeholder="Search">
                        <span class="input-group-btn">
			<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

		    </span>
            </div>
        </form>

    </div> -->
    <!--/.nav-collapse -->

</div>
<!-- /.container -->