<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a href="#">-->
                <!--<img src="./style/content/images/logo.png">-->
            <!--</a>-->
        </div>

        <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
            <ul class="nav navbar-nav navbar-right">
                <li class="menu" ui-sref-active="active"><a ui-sref="app.home">Home</a></li>
                <li class="menu" ui-sref-active="active"><a ui-sref="app.view1">View 1</a></li>
            </ul>
        </div>
    </div>
</nav>