<!DOCTYPE html>
<html lang="en">

<body>

  <div id="all">

      <div id="content">
          <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Accueil</a>
                    </li>
                    <li>Paiement</li>
                    <li>Informations paiement</li>
                </ul>
            </div>

              <div class="col-md-12" id="checkout">

                  <div class="box">
                      <form ng-submit='updateClientPaymentInformation()'
>
                          <h1>Commande - Methode de paiement</h1>
                          <ul class="nav nav-pills nav-justified">
                              <li><a><i class="fa fa-map-marker"></i><br>Adresse</a>
                              </li>
                              <li class="active"><a><i class="fa fa-money"></i><br>Méthode de paiement</a>
                              </li>
                              <li><a><i class="fa fa-eye"></i><br>Révision de commande</a>
                              </li>
                          </ul>

                          <div class="content">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="name">Nom sur la carte</label>
                                          <input type="text" class="form-control" id="cardname" ng-model="resultat_client.cardname"
						pattern="[a-zA-Z\ \.]+" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="name">Numéro de la carte</label>
                                          <input type="text" class="form-control" id="cardnumber" ng-model="resultat_client.cardnumber"
						pattern="[0-9]{4}(\ [0-9]{4}){3}" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6 col-md-3">
                                      <div class="form-group">
                                        <label for="month">Mois</label>
                                          <input type="text" class="form-control" id="cardmonth" ng-model="resultat_client.cardmonth"
						pattern="(0[1-9])|(1[0-2])" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-3">
                                      <div class="form-group">
                                        <label for="year">Année</label>
                                          <input type="text" class="form-control" id="cardyear" ng-model="resultat_client.cardyear"
						pattern="[0-9]{2}" required>
                                      </div>
                                  </div>
                              </div>
                              <!-- /.row -->

                          </div>
                          <!-- /.content -->

                          <div class="box-footer">
                              <div class="pull-left">
                                  <a
                                    class="btn btn-default"
                                    ng-click="backPersonalInformation()"
                                  >
                                  <i class="fa fa-chevron-left"
                                  ></i>
                                  Retour aux informations personelles
                                </a>
                              </div>
                              <div class="pull-right">
                                  <button
                                    class="btn btn-primary">Passer la commande
                                    <i class="fa fa-chevron-right"></i>
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- /.box -->


              </div>
              <!-- /.col-md-9 -->
          </div>
          <!-- /.container -->
      </div>
      <!-- /#content -->



    </div>
    <!-- /#all -->




    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>






</body>

</html>
