<div id="footer" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Pages</h4>

                <ul>
                    <li><a href="text.html">A propos</a>
                    </li>
                    <li><a href="text.html">Termes et conditions</a>
                    </li>
                    <li><a href="faq.html">FAQ</a>
                    </li>
                    <li><a href="contact.html">Nous contacter</a>
                    </li>
                </ul>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h5>Catégories</h5>

                <ul>
                    <li ng-repeat="categorie in categories">
                        <a href="" ng-click="goToCategorie(categorie.libelle)">{{categorie.libelle}}</a>
                    </li>
                </ul>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Adresse</h4>

                <p><strong>Musica.</strong>
                    <br>1220 Rue des Résidences
                    <br>Condillac
                    <br>38400 Saint-Martin-d'Heres
                    <br>France
                    <br>
                </p>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#footer -->

<!-- *** FOOTER END *** -->


<!-- *** COPYRIGHT ***
_________________________________________________________ -->
<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2016 Musica.</p>
        </div>
    </div>
</div>
<!-- *** COPYRIGHT END *** -->