<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="#">Accueil</a>
            </li>
            <li>Ajouter instrument</li>
        </ul>
    </div>

    <div class="col-md-12">
        <div class="box">
            <h1>Ajouter instrument</h1>   

            <div class="content">                                       
                <div class="row">      
                    <div class="col-md-6" >   
                        <div class="form-group">
                            <label for="Marque">Marque</label>
                            <select ng-model="marqueSelected" ng-init="marqueSelected = marqueSelected || marques[0]" ng-change="selectMarque()" class="form-control" ng-options="marque.libelle for marque in marques">
                                <option value="">Autre...</option>
                            </select>  
                             <input type="text" class="form-control" ng-model="autreMarque" ng-show="marqueSelected == null" placeholder="Autre Marque"/>
                        </div>    
                        
                        <div class="form-group">
                            <label for="Categorie">Categorie</label>    
                            <select ng-model="categorieSelected" ng-init="categorieSelected = categorieSelected || categories[0]" ng-change="" class="form-control" ng-options="categorie.libelle for categorie in categories" >
                                <option value="">Autre...</option> 
                            </select> 
                            <input type="text" class="form-control" ng-model="autreCategorie" ng-show="categorieSelected == null" placeholder="Autre Categorie"/>
                        </div>    
<!--                    
                        <div class="form-group">
                            <label for="Reference">Musicien</label>
                            <input type="text" class="form-control" id="Reference" ng-model="musicienInstrument">
                        </div>   -->  

                        <div class="form-group">
                            <label for="Reference">Réference</label>
                            <input type="text" class="form-control" id="Reference" ng-model="referenceInstrument">
                        </div>        

                    </div>

                    <div class="col-sm-6" style="text-align: center;">
                        <div class="">   
                            <div style="height: 240px;">          
                                <img height="240" width="240" ng-repeat="image in dummy.images" ng-src="{{image}}" width="300" />
                            </div>     
                            <br/>   
                            <input style="display: initial;" type="file" ng-model="dummy.images" ng-change="addImage()" accept="image/*" multiple file-input /><br /> 
                        </div>
                    </div>    

                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="Quantite">Quantité</label>
                            <input type="text" class="form-control" id="Quantite" ng-model="quantiteInstrument">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="Prix">Prix</label>
                            <input type="text" class="form-control" id="Prix" ng-model="prixInstrument">
                        </div>
                    </div>
                </div>
                        <!-- /.row -->
                    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Description">Déscription</label>
                            <textarea type="text-area" rows="10" class="form-control" id="Description" ng-model="descriptionInstrument">                                    
                            </textarea> 
                        </div>
                    </div>
                </div>   

                <div class="" style="text-align: center">
                    <p ng-model="alert">{{alert}}</p>
                    <button class="btn btn-primary" ng-click="addInstrument()">Sauvegarder</button>
                    <button type="submit" class="btn" ng-click="">Quitter</button>
                </div>               
            </div>



        </div>  
    </div>
</div>
      