<!DOCTYPE html>
<html lang="en">

<body>
    <!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#/profil">Profil</a></li>
                        <li>Commandes</li>
                    </ul>
                </div>

                <div class="col-md-9" id="basket">

                    <div class="box">

                        <form method="post">

                            <h1>Commandes</h1>
                            <p class="text-muted">You currently have {{resultats.lignesPanier.length}} commandes.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Number</th>
                                            <th>Date</th>
                                            <th>Instruments</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="resultat in resultats.lignesPanier">
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img alt="White Blouse Armani">
                                                </a>
                                            </td>
                                            <td><a href="#">{{resultat.instrument.reference}}</a>
                                            </td>
                                            <td>
                                                <input
                                                  type="number"
                                                  value="{{resultat.quantite}}"
                                                  ng-model="Qinstr"
                                                  class="form-control"
                                                  ng-change="updateCartInstrumentQuantity(resultat.panierInstrumentId,Qinstr)"
                                                >
                                            </td>
                                            <td>${{resultat.instrument.prix}}</td>
                                            <td>${{resultat.instrument.prix*resultat.quantite}}</td>
                                            <td>
                                              <button
                                                class="fa fa-trash-o"
                                                ng-click="deleteInstrumentPanier(
                                                            resultats.panierId
                                                            ,resultat.panierInstrumentId
                                                          )"
                                              ></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">${{resultats.montantTTC}}</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>

                        </form>

                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col-md-9 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    </div>
    <!-- /#all -->




    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>



</body>

</html>
