<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="#/home">Accueil</a>
            </li>
            <li>Mon compte</li>
            <li>Commandes</li>
        </ul>

    </div>

    <div class="col-md-3">
        <!-- *** MENUS ***
_________________________________________________________ -->
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">Mon compte </h3>
            </div>

            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#/profil"><i class="fa fa-user"></i> Mes informations</a>
                    </li>
                    <li class="active">
                        <a href=""><i class="fa fa-list"></i> Mes commandes</a>
                    </li>                   
                    <li>
                        <a href="#/home"><i class="fa fa-sign-out"></i>Déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
           
    
     <div class="col-md-9">
        <div class="box">
            <form method="post">
                <h1>Mes Commandes</h1>
                <p class="text-muted">Vous avez {{nombreCommandes}} commandes.</p>
                <div class="table-responsive" ng-show="avoirCommande">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Date</th>
                                <th>MontantHT</th>
                                <th>MontantTTC</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="resultat in resultats">
                            <tr>
                                <td>
                                    <p>{{resultat.commandeId}}</p>
                                </td>
                                <td>
                                    <p>{{resultat.date}}</p>
                                </td>
                                <td>
                                    <p>{{resultat.montantHT}}</p>
                                </td>
                                <td>
                                    <p>{{resultat.montantTTC}}</p>
                                </td>
                                <td>
                                    <p>{{resultat.montantTTC}}</p>
                                </td>
                                 <td>
                                    <a class="btn btn-primary btn-sm" ng-click="getCommandeDetails(resultat.commandeId)">Détails</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </form>

        </div>
        <!-- /.box -->
    </div>
    <!-- /.col-md-9 -->

</div>
<!-- /.container -->


